{{$hostname := "host"}}
{{$wifi_common_defs := "/common/device/wifi"}}
{{$wifi_host_specific_defs := printf "/%s/device/wifi" $hostname}}

{{$has_common_defs := exists $wifi_common_defs}}
{{$has_host_specific_defs := exists $wifi_host_specific_defs}}

{{define "Section"}}
    {{$section := .}}
    {{$settings := regReplace (include "/var/lib/connman/setting") "(\n\\[)" "\n\f["}}
    {{if contains $settings "[WiFi]"}}
        {{regReplace $settings "(\\[WiFi\\][^[]*)" $section}}
    {{else}}
	{{$settings}}
	{{$section}}
    {{end}}
{{end}}


{{define "WiFi"}}
    {{$defs := json .}}
    {{$mode := stringValue $defs.Mode}}

    {{with $name := $defs.Name}}
        {{if or (eq $mode "AccessPoint") (eq $mode "Tether")}}
	    {{$values := printf "[WiFi]\nEnable=true\nTethering=true\nTethering.Identifier=%s\nTethering.Passphrase=%s\n\f" $name (stringValue $defs.Security.PreSharedKey)}}
	    {{template "Section" $values}}
        {{else if eq $mode "EndPoint"}}
	    {{$values := "[WiFi]\nEnable=true\n\f"}}
	    {{template "Section" $values}}
	{{else}}
	    {{template "Section" "[WiFi]\nEnable=false\n\f"}}
        {{end}}
    {{end}}
{{end}}


{{if $has_common_defs}}
    {{if $has_host_specific_defs}}
        {{template "WiFi" (join (split (print (getv $wifi_common_defs) (getv $wifi_host_specific_defs)) "}{") ", ")}}
    {{else}}
        {{template "WiFi" (getv $wifi_common_defs)}}
    {{end}}
{{else}}
    {{if $has_host_specific_defs}}
        {{template "WiFi" (getv $wifi_host_specific_defs)}}
    {{end}}
{{end}}
