config 'wifi-device' 'wl0'
    option disabled 0
    option channel auto

config 'wifi-iface'
    option device 'wl0'
    option network 'lan'
    option mode   'ap' #sta - EP, 
    option ssid   'SSID__name'
    option hddien 0
    option encryption none # wep - WEP, psk - WPA-PSK, pks2 - WPA2-PSK
