{{$hostname := "host"}}
{{$wifi_common_defs := "/common/device/wifi"}}
{{$wifi_host_specific_defs := printf "/%s/device/wifi" $hostname}}

{{$has_common_defs := exists $wifi_common_defs}}
{{$has_host_specific_defs := exists $wifi_host_specific_defs}}

{{define "IPV4"}}
    {{$defs := .}}
    {{if ne (stringValue $defs) "DHCP"}}
    	 IPv4={{$defs.IPAddress}}/{{$defs.SubnetMask}}/{{$defs.Gateway}}
    {{end}}
{{end}}

{{define "Security"}}
    {{$defs := .}}
    {{with $Mode := .Mode}}
        {{$mode := toLower $Mode}}
        {{if eq $mode "none"}}
	    Security=none
	{{else if eq $mode "wep"}}
	    {{with $key := $defs.WEPKey}}
	        Security=wep
		Passphrase={{$key}}
	    {{end}}
	{{else if contains $mode "wpa"}}
	    {{if contains $mode "private"}}
	        {{with $psk := $defs.PreSharedKey}}
	            Security=psk
		    Passphrase={{$psk}}
		{{end}}
	    {{else}}
	    {{end}}
	{{end}}
    {{end}}
{{end}}

{{define "Visible"}}
	 Hidden={{not .}}
{{end}}

{{define "WIFI"}}
    {{$defs := json .}}
    {{$mode := stringValue $defs.Mode}}

    #
    # WLAN {{$mode}} Configuration
    #

    {{if eq $mode "EndPoint"}}
    	{{with $name := $defs.Name}}
	    [global]
	    Name=WiFi
	    Description=Wireless LAN network
	    {{print "\f"}}
	    [service_wifi_{{$name}}]
	    Type=wifi
	    Name={{$name}}
    	    {{range $field, $value := $defs}}
                {{if eq $field "IPv4"}}
            	    {{template "IPV4" $value}}
	        {{else if eq $field "Security"}}
		    {{template "Security" $value}}
		{{else if eq $field "SSIDAdvertisement"}}
		    {{template "Visible" $value}}
		{{end}}
            {{end}}
        {{end}}
    {{end}}
{{end}}


{{if $has_common_defs}}
    {{if $has_host_specific_defs}}
        {{template "WIFI" (join (split (print (getv $wifi_common_defs) (getv $wifi_host_specific_defs)) "}{") ", ")}}
    {{else}}
        {{template "WIFI" (getv $wifi_common_defs)}}
    {{end}}
{{else}}
    {{if $has_host_specific_defs}}
        {{template "WIFI" (getv $wifi_host_specific_defs)}}
    {{end}}
{{end}}
