config login {USERNAME}
    list acls user-{USERNAME}
    list acls juci-ddns
    list acls juci-diagnostics
    list acls juci-dropbear
    list acls juci-ethernet
    list acls juci-firewall-fw3
    list acls juci-mod-status
    list acls juci-mod-system
    list acls juci-network-netifd
    list acls juci
